.triangles {
    width: 110px;
    display: flex;
    justify-content: space-between;
}
.triangle {
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 20px solid pink;
    border-left: 20px solid transparent;
}
.face{
    width: 110px;
    height: 80px;
    background-color: pink;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}
.eyes {
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: 40px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 35px;
}
.mouth {
    font-size: 1.5em;
    position: absolute;
    top: 35px;
    left: 45px;
}
.cat {
    /* cursor: pointer; */
    margin: 0 auto 50px;
    height: 100px;
    width: 110px;
}
/* .cat:hover {
    opacity: 0.7;
} */